body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:#125784;
    color: #333;
}

header {
    background-color:#f8f8f8; /* Dark Green */
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #D32F2F; /* Red */
}

.main {
    text-align: center;
}

.hero {
    background-image: url('images/hero-image.jpg'); /* Add path to your hero image */
    background-size: cover;
    padding: 50px;
    color: white;
    text-align: center;
}
.cta-button {
    background-color: #D32F2F; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #999999; /* Darker Red */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
form {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #388E3C; /* Darker Green */
}
.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.description {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #D32F2F; /* Red */
}

.add-to-cart {
    background-color: #2196F3; /* Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.add-to-cart:hover {
    background-color: #1976D2; /* Darker Blue */
}

/* Responsive Styles */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}